[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exa-py = "*"
fastapi = "*"
mistralai = "*"
motor = "*"
nest-asyncio = "*"
pandas = "*"
pydantic = "*"
pydantic-ai = "*"
python-dotenv = "*"
qdrant-client = "*"
requests = "*"
sentence-transformers = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
